header img {
    width: 200px;
    
    }
    
    nav{
    text-align: center;
    }
    h1 {
        text-align: center;
       color:bisque;
       font-family: 'Viaoda Libre', cursive;
    }
     h2{
         text-align: center;
         color:whitesmoke;
     }
     p   {
         text-align: center;
    padding: 5px;
    margin-bottom:0%;
    margin: 5px;
    color:yellowgreen;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;    
      }
    img {
        width: 200px;
        height: 200px;
        float:center;
    }
    
    
    
      footer {
          text-align: center;
          font-family: 'Abril Fatface', cursive;
          font-size: x-large;
      }
      body {
    background-size: 0mm;
    background-color:rgb(60, 108, 128);
    }
     
    table, th, td {
        border: 1px solid black;
      }

      table {
        border: 3px solid honeydew;
        
      }
      
      table {
        width: 25%;
        background-color:lightcoral;
        text-shadow: snow;
        color: lightgoldenrodyellow;
        align-items: center;
      }
      
      th {
        height: 20px;
      }
      td {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;

      }
      th, td {
        border-bottom: 1px solid wheat;
      }
.form1 {
  background-color:pink;
  border: purple;
  display: flex;
}


    .table1 {
      display: flex;
      justify-self:flex-start;
      align-items: center;
      width: 50%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color :black;
      margin: 20px;
    }
    .table2 {
      display: flex;
   justify-content:flex-end;
      align-items: center;
      width: 100%;
      color:black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .footer {
      margin: 50px;
      color:bisque;
    }