header img {
    width: 200px;
    
    }
    
    nav{
    text-align: center;
    }
    h1 {
        text-align: center;
       color:red;
       font-family: 'Cinzel', serif;
    }
     h2{
         text-align: center;
         color: blue;
     }
     p   {
         text-align: center;
    padding: 5px;
    margin-bottom:0%;
    margin: 5px;
    color:indigo;
    font-size: 25px;
    font-family: 'Cinzel', serif;
    
      }
    img {
        width: 200px;
        height: 200px;
        float:center;
    }
    
    
    
      footer {
          text-align: center;
          font-family: 'Cinzel', serif;
      }
      body {
    background-size: 0mm;
    background-color:khaki;
    }
     
    table, th, td {
        border: 1px solid black;
      }

      table {
        border: 1px solid black;
        
      }
      
      table {
        width: 25%;
        background-color: seagreen;
        text-shadow: snow;
      }
      
      th {
        height: 20px;
      }
      td {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;

      }
      th, td {
        border-bottom: 1px solid red;
      }
    